@model SoftmatDesk.Models.DB_Context.tipo_fallas

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Detalles de Tipo de falla  </h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <div class="clearfix">


                            <div class="x_content">

                                <div class="col-xs-3">
                                    <!-- required for floating -->
                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs tabs-left">
                                        <li class="active">
                                            <a href="#home" data-toggle="tab">Descripcion</a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-xs-9">
                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="home">
                                            <p class="lead">Fuente: @Html.DisplayFor(model => model.Fuente)</p>
                                            <p>
                                                Categoria: @Html.DisplayFor(model => model.categorias.Categoria)<br />
                                                Descripcion: @Html.DisplayFor(model => model.Descripcion) <br />
                                                Enlace: <a href="@Model.Link" target="_blank" style=" color:red">Click aqui</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p>
                        @Html.ActionLink("Editar", "Edit", new { id = Model.idFallas }, new { @class = "btn btn-info" })
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->


<h2>Details</h2>

<div>
    <h4>tipo_fallas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fuente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fuente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.categorias.Categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categorias.Categoria)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idFallas }) |
    @Html.ActionLink("Back to List", "Index")
</p>
