@model SoftmatDesk.Models.DB_Context.categorias

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Detalles de categoria  </h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <div class="clearfix">


                            <div class="x_content">

                                <div class="col-xs-3">
                                    <!-- required for floating -->
                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs tabs-left">
                                        <li class="active">
                                            <a href="#home" data-toggle="tab">Descripcion</a>
                                        </li>
                                        <li>
                                            <a href="#profile" data-toggle="tab">Nivel de Soporte Relacionado</a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-xs-9">
                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="home">
                                            <p class="lead">@Html.DisplayFor(model => model.Categoria)</p>
                                            <p>
                                                @Html.DisplayFor(model => model.Descripcion)
                                            </p>
                                        </div>
                                        <div class="tab-pane" id="profile">
                                            <p class="lead">@Html.DisplayFor(model => model.nivel_soporte.Nivel_Sop)</p>
                                            <p>@Html.DisplayFor(model => model.nivel_soporte.Descripcion)</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p>
                        @Html.ActionLink("Editar", "Edit", new { id = Model.idCategorias }, new { @class = "btn btn-info" })
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
